body{
	background-color: #A9A9A9;
}
.center{
	position: relative;
	top:12%;
	height:200%;
	width:100%;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    z-index: 10;
}
.center .box{
 border:5px solid gainsboro;
 display: flex;

 position: relative;
 background-color: #5F9EA0;
 justify-content: flex-start;
 align-items: flex-start;
 z-index: 29;

}
.center .box .borthday{
	color:white;
	position: absolute;
	bottom: 0;
	right: 0;
}
.inf{
	position: absolute;
	width:100%;
	height:0%;
	top:20%;
	background-color: #95BCA7;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
/*	border:2px solid gainsboro;*/
	box-shadow: 5px 5px 5px grey;
	z-index: 102;
}
.inf p{
	line-height: 30px;
	color:white;
	font-size: 18px;
	padding: 20px;
}

.exhasit{
	position: fixed;
	margin-top: 8%;
	margin-left: 0;
	height: 70%;
	width:40%;
	left:30% ;
	opacity: 1;
	z-index: 100;
	display: none;
}
.show{
	position: absolute;
	width:100%;
	height:100%;
	background-color: darkgray;
	z-index: 102;
	/*border:2px solid gainsboro;*/
	box-shadow: 5px 5px 5px grey;
}
.show .content h1{
	margin: 20px;
}
.show img{
	max-width: 100%;
	max-height: 100%;
	float: left;
}
.show .exsit{
	position: absolute;
	right: 0;
	top:0;
	z-index: 20;
}
footer{
	display: flex;
	position: relative;
	width:auto
	bottom: 0;
}
