/*body{
	background-color: #F5F5F5;
}*/

html {
	background-color: rgba(199, 221, 224, 0.6);
}


footer{
	display: flex;
	bottom: 0;
	position: relative;
	top:20%;
}
.center{
	position: relative;
	height:120%;
	width:84%;
	left:8%;
	top:17%;
	margin-bottom: 50px;
}
.location{
	top:16%;
	width:80%;
	left:10%;
}
.center .left{
	width:25%;
	height:100%;
	background-color:lightgoldenrodyellow;
	float: left;
}
.center .left ul{
	list-style-type: none;
	width:100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	
}
.center .left ul li{
	width:100%;
	height:100%;
	margin: 5px;
	display: flex;
	flex-direction: row;
	font-size: 26px;
	color:black;
	justify-content: center;
	align-items: center;

}
.center .left ul li:hover{
	color:white;
}
.example{
	position: relative;
	top:16%;
	width:84%;
	height:50%;
	left:8%;
}
.carousel-inner li img{
	width:100%;
	height:100%;
}
.center .right{
	width:75%;
	height:100%;
	/*background-color:#778899;*/
	background-color: white;
	float:right;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.center .right a{
	margin: 10px 20px;
	position: relative;
	height:30%;
	width:45%;
}
.right a .act{
	position: relative;
	width:100%;
	height:100%;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color:black;
}
